# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Project Specific
.cproject
.project
.pydevproject
bin/
build/
cmake_install.cmake
msg_gen/
src/NewSimulator/msg/
src/NewSimulator/srv/
srv_gen
